<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fortune Teller Django</title>
        <style>
            body {
                text-align: center;
            }
            p{
                padding: 50px;
                color: crimson;
                background-color: blue;
                text-decoration: solid;
            }
        </style>
    </head>

    <body>

        <h1>Here is your fortune</h1>

        <p>{{fortune}}</p>

        <h1>Horoscope for today</h1>

        <p>{{horoscope}}</p>
    </body>
</html>